<div class="page-footer-inner">
    <a href="http://agaveapi.co/" >2015 &copy; <span class="icon-agave"></span></a>
    <a href="http://nsf.org/" ><img class="funding" src="/assets/pages/img/logos/nsf-white.png"/></a>
    <a href="https://vdjserver.org/" ><img class="funding" src="/assets/pages/img/logos/vdjserver-white.png"/></a>
    <a href="http://iplantcollaborative.org/" ><img class="funding" src="/assets/pages/img/logos/iplant-white.png"/></a>
    <a href="http://araport.org/" ><img class="funding" src="/assets/pages/img/logos/araport-white.png"/></a>
    <a href="http://tacc.utexas.edu/" ><img class="funding" src="/assets/pages/img/logos/tacc-white.png"/></a>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>