<!-- BEGIN PAGE HEADER-->
<div ng-controller="JobsResourceController">
<div class="page-bar">
  <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/jobs">Jobs</a>
        </li>
    </ul>
   <!-- <div landing-start-menu></div>-->
</div>
<h3 class="page-title"> Jobs
    <small>View jobs details</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-server"></i>
                        <span class="caption-subject font-dark bold uppercase">{{ uuid }}</span> </div>
  <uib-tabset ng-show="!error" >
      <uib-tab
          ng-repeat="t in tabs"
          heading="{{t.heading}}"
          select="go(t.route)"
          active="t.active">
      </uib-tab>
  </uib-tabset>
            </div>
            <div class="portlet-body">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
</div>
