<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/jobs">Jobs</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> Jobs Management
    <small>Manage your private collection of jobs</small>
</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title" ng-keyup="$event.keyCode == 13 ? search() : null">
                <div class="caption">
                    <i class="fa fa-code"></i> Jobs Management
                </div>

                <div class="row top-buffer text-center">
                  <div class="col-md-12">
                    <div class="btn-group">
                      <button class="btn btn-default hidden-md hidden-lg" ng-click="showSearch = !showSearch">
                        <i class="fa fa-search" aria-hidden="true"></i> {{showSearch ? 'Hide Search' : 'Search'}}
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row visible-on">
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="appId" ng-model="appId">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="archive" ng-model="archive">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="archivePath" ng-model="archivePath">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="archiveSystem" ng-model="archiveSystem">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="batchQueue" ng-model="batchQueue">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="created" ng-model="created">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="executionSystem" ng-model="executionSystem">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="id" ng-model="id">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="inputs" ng-model="inputs">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="maxRunTime" ng-model="maxRunTime">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="maxMemoryPerNode" ng-model="maxMemoryPerNode">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="name" ng-model="name">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="nodeCount" ng-model="nodeCount">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="outputPath" ng-model="outputPath">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="owner" ng-model="owner">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="processorsPerNode" ng-model="processorsPerNode">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="retries" ng-model="retries">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="startTime" ng-model="startTime">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="status" ng-model="status">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input class="form-control" type="text" placeholder="submitTime" ng-model="submitTime">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row top-buffer text-center">
                  <div class="col-md-12">
                    <div class="btn-group" ng-class="showSearch ? '' : 'hidden-sm hidden-xs'">
                      <button class="btn btn-success" ng-click="search()">Search</button>
                    </div>
                  </div>
                </div>
            </div>

            <div class="portlet-body">
              <div class="row text-center" ng-show="requesting">
                  <div class="col-md-12">
                    <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                    <div ng-show="!requesting">
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
                              <thead>
                                  <tr role="row" class="heading">
                                      <th>
                                        <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                          ID
                                          <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th data-class-name="extended">
                                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                          Name
                                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th>
                                        <a href="#" ng-click="sortType = 'executionSystem'; sortReverse = !sortReverse">
                                          Execution System
                                          <span ng-show="sortType == 'executionSystem' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'executionSystem' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th>
                                        <a href="#" ng-click="sortType = 'appId'; sortReverse = !sortReverse">
                                          Application
                                          <span ng-show="sortType == 'appId' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'appId' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th data-class-name="extended">
                                        <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                          Status
                                          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th data-class-name="extended">
                                        <a href="#" ng-click="sortType = 'owner'; sortReverse = !sortReverse">
                                          Owner
                                          <span ng-show="sortType == 'owner' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'owner' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th data-class-name="extended">
                                        <a href="#" ng-click="sortType = 'startTime'; sortReverse = !sortReverse">
                                          Start Time
                                          <span ng-show="sortType == 'startTime' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'startTime' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th data-class-name="status">
                                        <a href="#" ng-click="sortType = 'endTime'; sortReverse = !sortReverse">
                                          End Time
                                          <span ng-show="sortType == 'endTime' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'endTime' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th class="text-center"> Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr dir-paginate="job in jobs | orderBy:sortType:sortReverse | itemsPerPage: limit" total-items="totalItems">
                                      <td>
                                          <a ui-sref="jobs({id: job.id})"> {{job.id}} </a>
                                      </td>
                                      <td>
                                          <a ui-sref="jobs({id: job.id})"> {{job.name}} </a>
                                      </td>
                                      <td>
                                          <a href="#/systems/{{job.executionSystem}}">{{job.executionSystem}}</a>
                                      </td>
                                      <td>
                                          <a ui-sref="apps({appId: job.appId})"> {{job.appId}}</a>
                                      </td>
                                      <td data-class-name="extended">
                                          {{job.status}}
                                      </td>
                                      <td >
                                          {{job.owner}}
                                      </td>
                                      <td>
                                          {{job.startTime}}
                                      </td>
                                      <td>
                                          {{job.endTime}}
                                      </td>
                                      <td class="text-center">
                                          <div class="btn-group">
                                              <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                                  Actions
                                                  <i class="fa fa-angle-down"></i>
                                              </a>
                                              <ul class="dropdown-menu pull-right">
                                                <li>
                                                  <a ng-click="browse(job.id)" role="button"> <i class="fa fa-folder-open-o"></i> Browse</a>
                                                </li>
                                              </ul>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="text-center">
                        <dir-pagination-controls
                          on-page-change="getPage(newPageNumber, oldPageNumber, 'jobs')"
                        >
                        </dir-pagination-controls>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
