/* here you can put your own css to customize and override the theme */

.page-header.navbar {
  /* Header logo */
  .page-logo {
    .logo-default {
      margin: 8px 0 0 0;
      height: 27px;
    }
  }
}