<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Permissions</h4>
</div>
<div class="modal-body">
  <p> The current permissions are listed below. You may add, updated, or delete them as needed </p>

    <div class="row text-center" ng-show="requesting">
        <div class="col-md-12">
          <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
        </div>
    </div>
    <div class="row" ng-if="!requesting">
        <div class="col-md-12">
          <form
                sf-schema="schema"
                sf-form="form"
                sf-model="tempModel"
                >
          </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn dark btn-outline" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="savePermissionChanges()">Save changes</button>
</div>
