<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">System Roles for {{system.id}}</h4>
</div>
<div class="modal-body">
    <p>These are the current user roles assigned to {{system.name}}. You may add or remove users as needed.
    <span class="text-em" ng-if="system.type === 'STORAGE'">In order to expose this system as a readonly data collection, grant
    the the "WORLD" user the "GUEST" role.</span><span class="text-em" ng-if="system.type === 'EXECUTION'">In order to register apps against this system, users must have a "PUBLISHER" or "ADMIN" role.</span></p>

    <div class="row text-center" ng-show="requesting">
        <div class="col-md-12">
          <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
        </div>
    </div>
    <div class="row" ng-if="!requesting">
        <div class="col-md-12">
          <form
                sf-schema="schema"
                sf-form="form"
                sf-model="tempModel"
                >
          </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn dark btn-outline" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="saveRoleChanges()">Save changes</button>
</div>
