<div class="table-responsive">
  <table class="table" ng-repeat="app in apps">
    <thead class="hidden-sm hidden-xs">
     <tr>
       <th class="col-sm-2"></th>
       <th class="col-sm-10"></th>
     </tr>
    </thead>
    <tbody>
     <tr ng-if="app.id">
       <td>ID</td>
       <td><strong><a href="#/apps/{{app.id}}">{{app.id}}</a></strong></td>
     </tr>
     <tr ng-if="app.name">
       <td>Name</td>
       <td><a href="#/apps/{{app.id}}">{{app.name}}</a></td>
     </tr>
     <tr ng-if="app.label">
       <td>Label</td>
       <td>{{app.label}}</td>
     </tr>
     <tr ng-if="app.shortDescription">
       <td>Description</td>
       <td>{{app.shortDescription}}</td>
     </tr>
     <tr ng-if="app.version">
       <td>Version</td>
       <td>{{app.version}}</td>
     </tr>
     <tr ng-if="app.isPublic">
       <td>Public</td>
       <td>{{app.isPublic}}</td>
     </tr>
     <tr ng-if="app.executionSystem">
       <td>Execution System</td>
       <td>{{app.executionSystem}}</td>
     </tr>
     <tr ng-if="app.revision">
       <td>Public</td>
       <td>{{app.revision}}</td>
     </tr>
     <tr ng-if="app.lastModified">
       <td>Public</td>
       <td am-time-ago="app.lastModified"></td>
     </tr>
    </tbody>
  </table>
</div>
