<div>
  <div class="row visible-sm visible-xs mbm">
    <div class="col-xs-12">
        <div ng-if="system" class="btn-group pull-right visible-sm visible-xs">
  	       <a class="btn red btn-outline" href="#" data-toggle="dropdown">
              Actions
              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
              <li>
                  <a ng-click="edit('systems', system)" role="button"> <i class="fa fa-pencil"></i></i> Edit </a>
              </li>
              <li>
                  <a ui-sref="data-explorer({systemId: system.id, path: ''})" role="button"> <i class="fa fa-folder-open-o"></i> Browse </a>
              </li>
              <!-- <li>
                  <a ng-click="editMetadata(system.id)" data-target="#metadata-modal"> <i class="fa fa-sticky-note-o"></i> Metadata </a>
              </li> -->
              <!-- <li>
                  <a ng-click="editTags(res)"> <i class="fa fa-tags"></i> Tags </a>
              </li> -->
              <li class="divider"> </li>
              <li>
                  <a ng-click="editRoles(res)" data-target="#share-modal" role="button" data-toggle="modal"> <i class="fa fa-share-alt"></i> Share </a>
              </li>
              <!-- <li>
                  <a ng-click="editNotifications(system.id)" data-target="#notifications-modal" role="button" data-toggle="modal"> <i class="icon-webhooks"></i> Notifications </a>
              </li> -->
              <li class="divider"> </li>
              <li ng-if="!system.available">
                  <a ng-click="confirmAction('systems', system, 'enable')"  > <i class="fa fa-check"></i> Enable </a>
              </li>
              <li ng-if="system.available">
                  <a ng-click="confirmAction('systems', system, 'disable')"  > <i class="fa fa-remove"></i> Disable </a>
              </li>
              <li>
                  <a ng-click="confirmAction('systems', system, 'delete')"  > <i class="fa fa-trash-o"></i> Delete </a>
              </li>
              <li class="divider"> </li>
              <!-- <li>
                  <a href="#" data-target="#clone-modal" > <i class="fa fa-code-fork"></i> Clone </a>
              </li> -->
              <li ng-if="!system.public">
                  <a ng-click="confirmAction('systems', system, 'publish')"> <i class="fa fa-eye"></i> Publish </a>
              </li>
              <li ng-if="system.public">
                  <a ng-click="confirmAction('systems', system, 'unpublish')"> <i class="fa fa-eye-slash"></i> Unpublish </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table">
          <thead class="hidden-sm hidden-xs">
           <tr>
             <th class="col-sm-2"></th>
             <th class="col-sm-10"></th>
           </tr>
          </thead>
          <tbody>
           <tr ng-if="system.id">
             <td>ID</td>
             <td><strong>{{system.id}}</strong></td>
           </tr>
           <tr ng-if="system.name">
             <td>Name</td>
             <td>{{system.name}}</td>
           </tr>
           <tr ng-if="system.description">
             <td>Description</td>
             <td>{{system.description}}</td>
           </tr>
           <tr ng-if="system.type">
             <td>Type</td>
             <td>{{system.type}}</td>
           </tr>
           <tr ng-if="system.executionType">
             <td>Execution Type</td>
             <td>{{system.executionType}}</td>
           </tr>
           <tr ng-if="system.status">
             <td>Status</td>
             <td>{{system.status}}</td>
           </tr>
           <tr ng-if="system.public">
             <td>Public</td>
             <td>{{system.public}}</td>
           </tr>
           <tr ng-if="system.scheduler">
             <td>Scheduler</td>
             <td>{{system.scheduler}}</td>
           </tr>
           <tr ng-if="system.maxSystemJobs">
             <td>Max Jobs</td>
             <td>{{system.maxSystemJobs}}</td>
           </tr>
           <tr ng-if="system.maxSystemJobsPerUser">
             <td>Max Jobs Per User</td>
             <td>{{system.maxSystemJobsPerUser}}</td>
           </tr>
           <tr ng-if="system.scratchDir">
             <td>Scratch Directory</td>
             <td>{{system.site}}</td>
           </tr>
           <tr ng-if="system.site">
             <td>Site</td>
             <td>{{system.site}}</td>
           </tr>
           <tr ng-if="system.revision">
             <td>Revision</td>
             <td>{{system.revision}}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-if="system" class="btn-group pull-right">
          <a class="btn red btn-outline" href="#" data-toggle="dropdown">
              Actions
              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
              <li>
                  <a ng-click="edit('systems', system)" role="button"> <i class="fa fa-pencil"></i></i> Edit </a>
              </li>
              <li>
                  <a ui-sref="data-explorer({systemId: system.id, path: ''})" role="button"> <i class="fa fa-folder-open-o"></i> Browse </a>
              </li>
              <!-- <li>
                  <a ng-click="editMetadata(system.id)" data-target="#metadata-modal"> <i class="fa fa-sticky-note-o"></i> Metadata </a>
              </li> -->
              <!-- <li>
                  <a ng-click="editTags(system)"> <i class="fa fa-tags"></i> Tags </a>
              </li> -->
              <li class="divider"> </li>
              <li>
                  <a ng-click="editRoles(system)"> <i class="fa fa-share"></i> Share </a>
              </li>
              <!-- <li>
                  <a ng-click="editNotifications(system.id)" data-target="#notifications-modal" role="button" data-toggle="modal"> <i class="icon-webhooks"></i> Notifications </a>
              </li> -->
              <li class="divider"> </li>
              <li ng-if="!system.available">
                  <a ng-click="confirmAction('systems', system, 'enable')" > <i class="fa fa-check"></i> Enable </a>
              </li>
              <li ng-if="system.available">
                  <a ng-click="confirmAction('systems', system, 'disable')" > <i class="fa fa-remove"></i> Disable </a>
              </li>
              <li>
                  <a ng-click="confirmAction('systems', system, 'delete')" > <i class="fa fa-trash-o"></i> Delete </a>
              </li>
              <li class="divider"> </li>
              <!-- <li>
                  <a href="#" data-target="#clone-modal" > <i class="fa fa-code-fork"></i> Clone </a>
              </li> -->
              <li ng-if="!system.public">
                  <a ng-click="confirmAction('systems', system, 'publish')"> <i class="fa fa-eye"></i> Publish </a>
              </li>
              <li ng-if="system.public">
                  <a ng-click="confirmAction('systems', system, 'unpublish')" > <i class="fa fa-eye-slash"></i> Unpublish </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
