<div class="page-body">
    <div class="lock-head"> Click to Complete Login </div>
    <div class="lock-body">
        <div class="message"></div>
        <div class="lock-avatar-block">
            <oauth
                    template="/auth/views/templates/oauth-ng-button.html"
                    site="tenant.baseUrl"
                    client-id="settings.oauth.clients[tenant.code].clientKey"
                    redirect-uri="{{settings.oauth.clients[tenant.code].callbackUrl}}"
                    authorize-path="/authorize",
                    state="{{randomState()}}"
                    scope="{{settings.oauth.clients[tenant.code].scope}}"
                    tenant="tenant">
            </oauth>
        </div>
    </div>
    <div class="lock-bottom">
        <div class="row login-options">
            <h4 class="col-xs-12 col-sm-5">Or login with</h4>
            <ul class="col-xs-12 col-sm-7 social-icons tenant-icons">
                <li ng-repeat="t in settings.tenants">
                    <a ui-sref="login({tenantId: t.code})"><img ng-src="/auth/img/tenants/{{t.code}}-icon.png" title="{{t.name}}" class="thumbnail"></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--&lt;!&ndash; BEGIN LOGO &ndash;&gt;-->
<!--<div class="logo">-->
    <!--<a href="http://agaveapi.co">-->
        <!--<img src="/assets/pages/img/logo-big.png" alt="" /> </a>-->
<!--</div>-->
<!--&lt;!&ndash; END LOGO &ndash;&gt;-->
<!--&lt;!&ndash; BEGIN LOGIN &ndash;&gt;-->
<!--<div class="content">-->
    <!--<div ng-if="useImplicit">-->
        <!--<div class="message"></div>-->
        <!--<h3 class="form-title font-green">Click to complete login</h3>-->
        <!--<div class="form-group">-->
            <!--<oauth-->
                    <!--template="/auth/views/templates/oauth-ng-button.html"-->
                    <!--site="tenant.baseUrl"-->
                    <!--client-id="settings.oauth.clients[tenant.code]"-->
                    <!--redirect-uri="http://localhost:9000/auth"-->
                    <!--profile-uri="tenant.baseUrl + '/profiles/me'",-->
                    <!--authorize-path="/authorize",-->
                    <!--state="12345"-->
                    <!--scope="{{settings.oauth.scope}}"-->
                    <!--tenant="tenant">-->
            <!--</oauth>-->
        <!--</div>-->

        <!--<div class="login-options">-->
            <!--<h4>Or login with</h4>-->
            <!--<ul class="social-icons tenant-icons">-->
                <!--<li ng-repeat="t in settings.tenants">-->
                    <!--<a ui-sref="login({tenantId: t.code})"><img ng-src="/auth/img/tenants/{{t.code}}-icon.png" title="{{t.name}}" class="thumbnail"></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</div>-->
    <!--<form ng-if="!useImplicit" class="login-form" ng-submit="passwordGrant()" method="post">-->
        <!--<h3 class="form-title font-green">Sign In</h3>-->
        <!--<div class="alert alert-danger display-hide">-->
            <!--<button class="close" data-close="alert"></button>-->
            <!--<span> Click to login . </span>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--&lt;!&ndash;ie8, ie9 does not support html5 placeholder, so we just show field title for that&ndash;&gt;-->
            <!--<label class="control-label visible-ie8 visible-ie9">Username</label>-->
            <!--<input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="user.username" autocomplete="off" placeholder="Username" name="username" /> </div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label visible-ie8 visible-ie9">Password</label>-->
            <!--<input class="form-control form-control-solid placeholder-no-fix" type="password" ng-model="user.password" autocomplete="off" placeholder="Password" name="password" /> </div>-->
        <!--<div class="form-group">-->
            <!--&lt;!&ndash;ie8, ie9 does not support html5 placeholder, so we just show field title for that&ndash;&gt;-->
            <!--<label class="control-label visible-ie8 visible-ie9">Client Key</label>-->
            <!--<input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="user.clientKey" autocomplete="off" placeholder="Client Key" name="clientKey" /> </div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label visible-ie8 visible-ie9">Client Secret</label>-->
            <!--<input class="form-control form-control-solid placeholder-no-fix" type="password" ng-model="user.clientSecret" autocomplete="off" placeholder="Client Secret" name="clientPassword" /> </div>-->
        <!--<div class="form-actions">-->
            <!--<button type="submit" class="btn green uppercase">Login</button>-->
            <!--<label class="rememberme check">-->
                <!--<input type="checkbox" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-model="user.remember" name="remember" value="1" />Remember </label>-->
            <!--<a href="{{tenant.baseUrl}}" id="forget-password" class="forget-password">Forgot Password?</a>-->
        <!--</div>-->
        <!--<div class="login-options">-->
            <!--<h4>Or login with</h4>-->
            <!--<ul class="social-icons tenant-icons">-->
                <!--<li ng-repeat="t in settings.tenants">-->
                    <!--<a ui-sref="login({tenantId: t.code})"><img ng-src="/auth/img/tenants/{{t.code}}-icon.png" title="{{t.name}}" class="thumbnail"></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div ng-if="tenant.policy.userManagement.canCreate" class="create-account">-->
            <!--<p>-->
                <!--<a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->

