

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/data/explorer">Data</a>
        </li>
        <li>
            <a href="#">Explorer</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> File Browser</h3>

<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
</div>

<div class="row" ng-if="!error && !requesting">
    <div class="col-md-12">
        <angular-filemanager id="agave-filemanager" agave-system="system" agave-path="path" agave-upload="false" class="filebrowser"></angular-filemanager>
    </div>
</div>
