<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/apps">Apps</a>
        </li>
        <li>
            <a href="#/apps/manager">Manager</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> Application Managmenet
    <small>Manage your private collection of apps</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-code"></i> Application Management
                </div>
                <div class="btn-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="search">
                  </div>
                </div>
                <div class="top-buffer pull-right">
                  <a ui-sref="apps-new()" class="btn btn-outline green" data-target="#add-edit-modal" role="button" data-toggle="modal">
                      <i class="fa fa-plus"></i>
                      <span class="hidden-480"> New App </span>
                  </a>
                </div>
                <div class="actions">
                    <!-- <div class="btn-group">
                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-480"> Actions </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#"> Clone </a>
                            </li>
                            <li>
                                <a href="#"> Enable </a>
                            </li>
                            <li>
                                <a href="#"> Disable </a>
                            </li>
                            <li>
                                <a href="#"> Delete </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#"> Publish </a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
                        <thead>
                            <tr role="row" class="heading">
                                <th>
                                  <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    ID
                                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th data-class-name="extended">
                                  <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    Name
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th data-class-name="extended">
                                  <a href="#" ng-click="sortType = 'created'; sortReverse = !sortReverse">
                                    Created
                                    <span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th data-class-name="extended">
                                  <a href="#" ng-click="sortType = 'version'; sortReverse = !sortReverse">
                                    Version
                                    <span ng-show="sortType == 'version' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'version' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th data-class-name="extended">
                                  <a href="#" ng-click="sortType = 'label'; sortReverse = !sortReverse">
                                    Label
                                    <span ng-show="sortType == 'label' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'label' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th>
                                  <a href="#" ng-click="sortType = 'shortDescription'; sortReverse = !sortReverse">
                                    Short Description
                                    <span ng-show="sortType == 'shortDescription' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'shortDescription' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th>
                                  <a href="#" ng-click="sortType = 'executionSystem'; sortReverse = !sortReverse">
                                    Exec. System
                                    <span ng-show="sortType == 'executionSystem' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'executionSystem' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th>
                                  <a href="#" ng-click="sortType = 'public'; sortReverse = !sortReverse">
                                    Public
                                    <span ng-show="sortType == 'public' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'public' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th data-class-name="extended">
                                  <a href="#" ng-click="sortType = 'revision'; sortReverse = !sortReverse">
                                    Revision
                                    <span ng-show="sortType == 'revision' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'revision' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th>
                                  <a href="#" ng-click="sortType = 'available'; sortReverse = !sortReverse">
                                    Available
                                    <span ng-show="sortType == 'available' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'available' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th>
                                  <a href="#" ng-click="sortType = 'lastModified'; sortReverse = !sortReverse">
                                    Last Modified
                                    <span ng-show="sortType == 'lastModified' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'lastModified' && sortReverse" class="fa fa-caret-up"></span>
                                  </a>
                                </th>
                                <th> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="app in apps | orderBy:sortType:sortReverse | filter:search">
                                <td>
                                    <a ui-sref="apps({appId: app.id})"> {{app.id}} </a>
                                </td>
                                <td>
                                    <a ui-sref="apps({appId: app.id})"> {{app.name}} </a>
                                </td>
                                <td data-class-name="extended">
                                    <span class="date">{{ app.created | amDateFormat:'dddd, MMMM Do YYYY' }}</span>
                                </td>
                                <td>
                                    {{app.version}}
                                </td>
                                <td>
                                    {{app.label}}
                                </td>
                                <td>
                                    {{app.shortDescription}}
                                </td>
                                <td>
                                    <a href="#/systems/{{app.executionSystem}}">{{app.executionSystem}}</a>
                                </td>
                                <td>
                                    {{app.isPublic}}
                                </td>
                                <td>
                                    {{app.revision}}
                                </td>
                                <td data-class-name="extended">
                                    {{app.available}}
                                </td>
                                <td>
                                    <span am-time-ago="app.lastModified" class="date"></span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a ng-click="edit('apps', app)" role="button"> <i class="fa fa-pencil"></i></i> Edit </a>
                                            </li>
                                            <li ng-if="!app.available">
                                                <a ng-click="confirmAction('apps', app, 'enable', apps, $index)"> <i class="fa fa-check"></i> Enable </a>
                                            </li>
                                            <li ng-if="app.available">
                                                <a ng-click="confirmAction('apps', app, 'disable', apps, $index)"> <i class="fa fa-remove"></i> Disable </a>
                                            </li>
                                            <li>
                                                <a ng-click="confirmAction('apps', app, 'delete', apps, $index)"> <i class="fa fa-trash-o"></i> Delete </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <!-- <li>
                                                <a ng-click="confirmAction('apps', app, 'clone', apps, $index)" role="button"> <i class="fa fa-code-fork"></i> Clone </a>
                                            </li> -->
                                            <li>
                                                <a ng-click="confirmAction('apps', app, 'publish', apps, $index)"> <i class="fa fa-eye"></i> Publish </a>
                                            </li>
                                            <li>
                                                <a ng-click="editPermissions(app)" role="button"> <i class="fa fa-share"></i> Share </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->
