<!-- BEGIN PAGE BASE CONTENT -->
<h3 class="page-title"> App Builder Wizard</h3>

<div class="row">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered">
            <!-- <h3>App Builder Wizard</h3> -->
            <p>
                This twitter bootstrap plugin builds a wizard out of a formatter tabbable structure. It allows to build a wizard functionality
                using buttons to go through the different wizard steps and using events allows to hook into each step individually.
            </p>
        </div>

        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        App Builder Wizard - <span class="step-title"> Step 1 of 4 </span>
                    </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'form'" ng-model="wizview">Form</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'code'" ng-model="wizview" >Code</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'split'" ng-model="wizview" >Split</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div ng-show="wizview !== 'code'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <form
                                name="myForm"
                                class="form-wizard"
                                sf-schema="schema"
                                sf-form="form"
                                sf-model="model"
                                sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}"
                                ng-submit="submit()"
                                no-validate>
                        </form>
                        <ng-include src="'/app/tpl/directives/wizard-buttons.html'"></ng-include>
                    </div>
                    <div ng-show="wizview !== 'form'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <textarea ui-codemirror ui-codemirror-opts="editorConfig" ng-model="prettyModel"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
