<h3 class="page-title"> System Editor Wizard</h3>

<div class="row" ng-show="!wizview">
    <div class="col-md-12">
      <a href="/app/#/systems" class="btn btn-default">Back to Systems</a>
    </div>
</div>

<div class="row" ng-show="wizview">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title" ng-show="edit">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        System Editor Wizard - <span class="step-title"> Step 1 of 2 </span>
                    </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'form'" ng-model="wizview" >Form</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'code'" ng-model="wizview">Code</label>
                        <label class="btn btn-outline green btn-circle btn-sm" uib-btn-radio="'split'" ng-model="wizview">Split</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div ng-show="wizview !== 'code'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <form
                                name="myForm"
                                class="form-wizard"
                                sf-schema="schema"
                                sf-form="form"
                                sf-model="model"
                                sf-options="{ formDefaults: { ngModelOptions: { updateOn: 'blur' } }}"
                                ng-submit="submit()"
                                no-validate>
                        </form>
                        <ng-include src="'/app/tpl/directives/wizard-buttons.html'"></ng-include>
                    </div>
                    <div ng-show="wizview !== 'form'" class="{{(wizview === 'split') ? 'col-md-6': 'col-md-12'}}">
                        <textarea ui-codemirror ui-codemirror-opts="editorConfig" ng-model="prettyModel"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <a href="/app/#/systems" type="button" class="btn btn-primary blue">Back to Systems</a>
      <a href="/app/#/systems/new" type="button" class="btn btn-success" ng-click="useDefinition()">Use Definition</a>
    </div>
  </div>
</div>
