<div modal="fileManager">
  <div class="modal-header">
    <h3 class="modal-title">File Manager</h3>
  </div>
  <div class="modal-body">
    <angular-filemanager id="agave-filemanager" agave-system="system" agave-path="path" agave-upload="true" class="filebrowser"></angular-filemanager>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>
