<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
                <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Contact Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab">Privacy Settings</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input type="text" ng-model="profile.firstName" placeholder="John" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input type="text" ng-model="profile.lastName" placeholder="Doe" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Research Interests</label>
                                <input type="text" placeholder="Neurology, Thermodynamics, Distributed Systems" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Position</label>
                                <input type="text" ng-model="profile.position" placeholder="Professor" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">About</label>
                                <textarea class="form-control" ng-model="profile.bio" rows="3" placeholder="Enter a short bio"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Website Url</label>
                                <input type="text" ng-model="profile.website" placeholder="http://www.mywebsite.com" class="form-control" /> </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_2">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" ng-model="profile.email" placeholder="foo@example.com" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Mobile Number</label>
                                <input type="text" ng-model="profile.mobile" placeholder="+1 444-444-4444" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Office Number</label>
                                <input type="text" ng-model="profile.phone" placeholder="+1 555-555-5555" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Fax Number</label>
                                <input type="text" ng-model="profile.fax" placeholder="+1 666-666-6666" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Department</label>
                                <input type="text" ng-model="profile.department" placeholder="Computer Science" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Institution</label>
                                <input type="text" ng-model="profile.institution" placeholder="University of Texas" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">City/Locality</label>
                                <input type="text" ng-model="profile.city" placeholder="John" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">State/Region</label>
                                <select ng-model="profile.state" class="bs-select form-control">
                                    <option ng-repeat="state in Commons.getStates() track by $index" value="{{state.abbreviation}}">{{state.name}}</option>
                                </select></div>
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <select ng-model="profile.country" class="bs-select form-control">
                                    <option ng-repeat="country in Commons.getCountries() track by $index" value="{{country.code}}">{{country.name}}</option>
                                </select></div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form action="#">
                            <table class="table table-light table-hover">
                                <tr>
                                    <td> Include profile in search results </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" /> Yes </label>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Subscribe to Agave ToGo newsletter. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Subscribe to Agave Platform newsletter. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Subscribe to the Agave <i>Preview</i> program. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                            </table>
                            <!--end profile-settings-->
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
        </div>
    </div>
</div>